.login-container {
  display: flex;
  height: 100vh;
}

.fondo {
  width: 100%;
  /* background-image: url("../../assets/space.png");  */
  /* background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.658),
      rgba(0, 0, 0, 0.368)
    ),
    url("../../assets/img/boat.jpg"); */
    background-image: url(https://wallpapers.com/images/hd/plant-aesthetic-desktop-hohixa6pvn0itwq7.jpg);
  background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo del mat-card */
mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9F0E0; /* Fondo blanco para contraste */
  color: #333; /* Color de texto oscuro para legibilidad */
  padding: 20px; /* Espaciado interno */
  max-width: 500px; /* Ancho máximo para el card */
  margin: 20px auto; /* Centrado horizontal */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
  border-radius: 8px; /* Bordes redondeados */
  text-align: center;
}

/* Encabezado del mat-card */
mat-card-header {
  margin-bottom: 20px; /* Espaciado interno inferior */
}

mat-card-title {
  font-size: 24px; /* Tamaño de la fuente */
  color: #3f51b5; /* Color primario */
  
}

/* Campos de formulario */
mat-form-field {
  width: 100%; /* Asegura que los campos ocupen todo el ancho */
  margin-bottom: 20px; /* Espaciado interno inferior */
}

/* Botón de envío */
button[mat-raised-button] {
  width: 100%; /* Ancho completo */
  padding: 12px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de la fuente */
  text-transform: uppercase; /* Texto en mayúsculas */
  border-radius: 4px; /* Bordes redondeados */
}

/* Efecto hover en el botón */
button[mat-raised-button]:hover {
  background-color: #57af79; /* Color de fondo en hover */
  color: white;
}


/* .centro {
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(225, 215, 163, 0.801),
    rgba(183, 79, 110, 0.546)
  );
  border-radius: 30px;
}

mat-card {
  width: 400px;
  padding: 20px;
  background-color: #ffffff;
}

mat-card-header {
  display: block;
  text-align: center;
  color: rgb(25, 25, 152);
  margin-bottom: 25px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
} */

@media (max-width: 1024px) { 
  .centro {
    width: 60%;
  }
}

@media (max-width: 780px) {
  .centro {
    width: 80%;
  }

  h1 {
    font-size: 1.5rem;
  }
}



